/* accordion colors */

$accordionHandleBorder: transparent;
$accordionHandleColor: #fff;
$accordionHandleColorActive: transparent;

$accordionHandleBGColor: #{$darkBlue};
$accordionHandleBGColorActive: #{$shadowBlue};

/* standard accordion */
.accordion.separated .accordion-item { margin-bottom: 15px; }
.accordion-item { margin:0; border: 1px solid #ccc;}
.accordion-item-handle { position: relative; cursor: pointer; padding: 8px 44px 8px 8px; color: #fff; background: $accordionHandleBGColor; border: 1px solid $accordionHandleBorder; margin: -1px -1px 0;}
.accordion-item-handle.lg { font-size: 20px; }

.accordion-item-handle:after {
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	@extend .selector-arrow:after;
	left:auto; right:12px;
}

.expanded>.accordion-item-handle:after {
	@extend .selector-arrow-up:after;
}

.retina .accordion-item-handle:after {
	@extend .retina.sprite-after:after;
}

.accordion-item-handle:hover,
.expanded>.accordion-item-handle { background: $accordionHandleBGColorActive; }
.accordion-item-handle>div { padding: 3px 10px; }
.accordion-item-content { display: none; padding: 10px;}
.ie8 .accordion-item-content { display: none !important; }
.ie8 .expanded>.accordion-item-content { display: block !important; }
.start-expanded>.accordion-item-content { display: block; }
.accordion-content-item p { border: none !important; }
.accordion-item-content ol,
.accordion-item-content ul { margin:-10px; padding: 12px 0; }
.accordion-item-content ul li a { display: block; color: #242424; padding: 5px 12px;}
.accordion-item-content ul li a:hover { background: #ccc; }

.accordion-item-handle .num { display: inline-block; border-radius: 30px; text-align: center; vertical-align: middle;  padding: 0; text-align: center; width:  30px; height:  30px; line-height:  28px; margin-right:  8px;  background: $mediumBlue;  }
.accordion-item-handle:hover .num,
.expanded>.accordion-item-handle .num { background: $darkBlue; }