$sidebarWidth: 305px;

/* main body */
.main-body { padding: 0 0 20px; }
.main-body.with-sidebar { margin-right: -#{$sidebarWidth}; float: left; width: 100%; padding-right: 20px; padding-left: 20px; }
.main-body.with-sidebar>div { margin-right: #{$sidebarWidth}; }
.main-body.with-sidebar+.sidebar { float: left; width: #{$sidebarWidth}; padding: 0 20px 20px 0; color: #fff; }
.sidebar>div { margin: 0 0 12px; }
.main-body.full.with-sidebar { padding-left:0; }
.main-body.full.with-sidebar+.sidebar { padding-right:0;}

.body .extra-margin { margin: 20px; }

@each $element in h1,h2,h3,h4,h5,h6 {
	.article-body #{$element}+ul,
	.article-body #{$element}+ol { margin-top:0; }
}

.featured-image { margin: 20px 0; }
.featured-image img { border: 1px solid #fff; }

.article .sw,
article .sw { width: 876px; }

.article-body a { color: $linkColor;}
.article-body a.visited,
.article-body a:visited { color: $visitedColor;}
.article-body a.hover,
.article-body a:hover { color: $hoverColor;}
.article-body hr { margin: 40px 0; background: none; height: 0; border: solid $bodyContentColor; border-width: 1px 0 0;}
.article-body { color: $bodyContentColor; }

.article-body ul,
.article-body ol { margin: 25px 0; }
.article-body li ul,
.article-body li ol { margin: 5px 0; }
.article-body li { position: relative; margin: 0 0 7px;  color: $bodyContentColor; font-size: 15px;  line-height: 1.6;}
.article-body ul li { padding-left: 20px;}
.article-body ul>li:before { content:""; position: absolute; top:10px; left: 0; width: 6px; height: 6px; border-radius: 6px; display: block; background: $listItemColor;}
.article-body ol { counter-reset: li; padding-left: 10px;}
.article-body ol li { list-style-type: none; padding-left:10px;}
.article-body ol>li:before { position: absolute; left: -10px; top: 0; content:counter(li); counter-increment:li; color: $listItemColor; }
.article-body p { margin-bottom: 15px; font-size: 15px; line-height: 1.6;}
.article-body p+ul,
.article-body p+ol { margin-top:0; }

.article-body blockquote { color: $excerptColor; font-size: 16px; line-height: 1.4; margin: 0 0 20px; font-family: $italicFontStack; color: $mediumBlue;}
.article-body .centered-excerpt { margin: 20px auto; text-align: center; width: 75%; min-width: 280px; }
.article-body hr { margin: 8px 0; border: solid #ccc; border-width: 1px 0 0; }

/* font sizes */
.text-smallest .article-body p,
.text-smallest .article-body li { font-size: 12px; }
.text-small .article-body p,
.text-small .article-body li { font-size: 14px;}
.text-large .body p,
.text-large .body .article-body li { font-size: 16px; }
.text-largest .body p,
.text-largest .body .article-body li { font-size: 18px; }



.text-smallest .article-body .h1-style,
.text-smallest .article-body h1 { font-size: 28px; }
.text-smallest .article-body .h2-style,
.text-smallest .article-body h2 { font-size: 24px; }
.text-smallest .article-body .h3-style,
.text-smallest .article-body h3 { font-size: 20px; }
.text-smallest .article-body .h4-style,
.text-smallest .article-body h4 { font-size: 16px; }
.text-smallest .article-body .h5-style,
.text-smallest .article-body h5 { font-size: 12px; }

.text-small .article-body .h1-style,
.text-small .article-body h1 { font-size: 32px; }
.text-small .article-body .h2-style,
.text-small .article-body h2 { font-size: 28px; }
.text-small .article-body .h3-style,
.text-small .article-body h3 { font-size: 22px; }
.text-small .article-body .h4-style,
.text-small .article-body h4 { font-size: 18px; }
.text-small .article-body .h5-style,
.text-small .article-body h5 { font-size: 14px; }

.text-large .article-body .h1-style,
.text-large .article-body h1 { font-size: 38px; }
.text-large .article-body .h2-style,
.text-large .article-body h2 { font-size: 32px; }
.text-large .article-body .h3-style,
.text-large .article-body h3 { font-size: 26px; }
.text-large .article-body .h4-style,
.text-large .article-body h4 { font-size: 22px; }
.text-large .article-body .h5-style,
.text-large .article-body h5 { font-size: 18px; }

.text-largest .article-body .h1-style,
.text-largest .article-body h1 { font-size: 42px; }
.text-largest .article-body .h2-style,
.text-largest .article-body h2 { font-size: 36px; }
.text-largest .article-body .h3-style,
.text-largest .article-body h3 { font-size: 30px; }
.text-largest .article-body .h4-style,
.text-largest .article-body h4 { font-size: 28px; }
.text-largest .article-body .h5-style,
.text-largest .article-body h5 { font-size: 22px; }