/* body */
body { font-family: $defaultFontStack; line-height: 1.4; background: #f7f7f7 url(../images/bg-grad.png) 0 0 repeat-x; }
body strong { font-family: $boldFontStack; }
body em { font-family: $italicFontStack; }
body strong>em,
body em>strong { font-family: $boldItalicFontStack; }

#wrapper>.sw { background: #fff; }