/* buttons */
.button { border: 1px solid $darkBlue; font-family: $boldFontStack; background-color: $buttonBGColor; color: $buttonColor !important; display: inline-block; padding: 10px 14px 8px; text-transform: uppercase; line-height: 1; font-size: 14px; cursor: pointer;}
.button.hover,
.button:hover,
.button:focus { background-color: $buttonHoverBGColor !important; color: $buttonHoverColor !important;}
.button.active,
.button:active { background-color: $buttonActiveBGColor !important; color: $buttonActiveColor !important}

.button.white { color: $buttonBGColor !important; background-color: $buttonColor; border-color: #fff;;}
.button.white:hover,
.button.white:focus { color: $buttonHoverBGColor !important; background-color: $buttonHoverColor !important; }
.button.white:active { color: $buttonActiveBGColor !important; background-color: $buttonActiveColor !important; }

.button.share-white:hover,
.button.share-white:focus,
.button.share-white:active {
	@extend .sprite.share-blue;
}

.button.share-blue:hover,
.button.share-blue:focus,
.button.share-blue:active {
	@extend .sprite.share-white;
}

.button.download-white:hover,
.button.download-white:focus,
.button.download-white:active {
	@extend .sprite.download-blue;
}

.button.download-blue:hover,
.button.download-blue:focus,
.button.download-blue:active {
	@extend .sprite.download-white;
}