@mixin property-with-rgba($property, $color, $opacity: 0.3) {
    #{$property}: $color; 
    #{$property}: rgba($color, $opacity);
}

/* colors */
$darkBlue: #13425c;
$mediumBlue: #2f6486;
$highlightBlue: #84d4f4;
$shadowBlue: #2a5875;

/* button colors */
$buttonColor: #fff;
$buttonBGColor: #{$darkBlue};

$buttonHoverColor: #{$mediumBlue};
$buttonHoverBGColor: #fff;

$buttonActiveColor: #{$shadowBlue};
$buttonActiveBGColor: #fff;

/* article */
$bodyContentColor: #3e3e3e;
$excerptColor: #{$bodyContentColor};

/* links */
$linkColor: #{$darkBlue};
$hoverColor: #{$darkBlue};
$visitedColor: #{$darkBlue};
$activeColor: #{$visitedColor};

$listItemColor: $darkBlue;

/* breadcrumbs */
$breadcrumbColor: #fff;
$breadcrumbColorHover: #{$mediumBlue};
$breadcrumbColorActive: #{$darkBlue};