/* selectors */
.selector { position: relative; margin: 0 0 10px; cursor: pointer; padding-right: 30px; background: $mediumBlue; display: inline-block; border: 1px solid $darkBlue; }
.selector:hover { background: $mediumBlue; }
.selector:after { right: 10px; margin-top: -7px; color: #fff; left:auto; pointer-events: none; 
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	@extend .selector-arrow:after;
}
.retina .selector:after {
	@extend .retina.sprite;
}
.selector:hover .value { background: $mediumBlue; }
.selector .value { display: block; padding: 10px 14px 8px; color: #fff; text-transform: uppercase; line-height: 1; font-family: $boldFontStack; font-size: 14px; }
.selector select { position: absolute; top:0; left:0; right:0; bottom:0; width: 100%; height: 100%; opacity:0; background: transparent; cursor: pointer;}
.ie8 .selector select { width: 100%; height: 100%; filter: alpha(opacity=0); }