/* fonts */
@mixin declare-font-face($font-family, $font-filename, $path, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
	@font-face {
		font-family: $font-family;
		src: url('#{$path}#{$font-filename}.eot'); /* IE9 & compatibility modes */
		src: url('#{$path}#{$font-filename}.eot?#iefix') format('eot'), /* IE6-8 */
		url('#{$path}#{$font-filename}.woff') format('woff'), /* Firefox, Opera */
		url('#{$path}#{$font-filename}.ttf') format('opentype'), /* Chrome */
		url('#{$path}#{$font-filename}.svg##{$font-filename}') format('svg'); /* Safari */
		font-weight: $font-weight;
		font-style: $font-style;
		font-stretch: $font-stretch;
	}
}

@include declare-font-face('Myriad Pro','myriad-pro-regular','../fonts/myriad-pro/regular/');
@include declare-font-face('Myriad Pro Bold','myriad-pro-bold','../fonts/myriad-pro/bold/');
@include declare-font-face('Myriad Pro Bold Italic','myriad-pro-bold-italic','../fonts/myriad-pro/bold-italic/');
@include declare-font-face('Myriad Pro Italic','myriad-pro-italic','../fonts/myriad-pro/italic/');
@include declare-font-face('Myriad Pro Lt','myriad-pro-light','../fonts/myriad-pro/light/');

$defaultFontStack: Myriad Pro,helvetica,arial,sans-serif;
$italicFontStack: Myriad Pro Italic,helvetica italic,arial italic,sans-serif;
$boldFontStack: Myriad Pro Bold,helvetica bold,arial black,sans-serif;
$boldItalicFontStack: Myriad Pro Bold Italic,helvetica bold italic,arial black italic,sans-serif;
$lightFontStack: Myriad Pro Lt,helvetica light,sans-serif;
$lightItalicFontStack: Myriad Pro Lt,helvetica light,sans-serif;