/* footer */
footer { background: $mediumBlue; border-top: 4px solid $darkBlue; padding: 25px 0 10px;}
footer .sw { padding:0; }
footer a { color: #fff; }
footer a:hover { color: $highlightBlue; }

.footer-block { color: #fff; background: $darkBlue; position: relative; font-size: 12px;}
.footer-block>div { padding: 30px 25px 90px; }

.footer-block address { margin-top: 10px; }
.footer-block .firefox-rel:after,
.no-firefox .footer-block:after { content:""; position: absolute; left: 25px; right: 25px; bottom: 80px; border-top: 1px solid #fff;}
.footer-block .bottom-block { position: absolute; bottom: 0; left:0; right:0; margin: 0 25px 25px; }
.footer-block .bottom-block .button { float: right; margin-top: 5px; }

.footer-block .links { vertical-align: middle; }
.footer-block ul { overflow: hidden; width: 210px; margin: 0 auto; position: relative; text-transform: uppercase; font-size: 13px; }
.footer-block ul:after { content:""; position: absolute; left: 50%; margin-left: -12px; top:0; bottom:0; border-right: 1px solid #fff; }
.footer-block ul li { float: left; width: 50%; padding-right: 10px;}

.footer-block p { font-size: 14px; }
.footer-block.subscribe .firefox-rel:after,
.footer-block.subscribe:after { display: none; }

.footer-block .subscribe-form { background: #f6f6f6; border-radius: 8px; position: relative; }
.footer-block .subscribe-form input { margin: 5px 0; }
.footer-block .subscribe-form:after { content:""; right: 40px; top:4px; bottom: 4px; border-right: 1px solid #ccc; position: absolute;}

/* copyright */
.copyright { cursor: default; position: relative; color: #fff; margin-top: 10px; }
.copyright li { display: inline-block; border-left: 1px solid #fff; margin-right: -0.25em; margin-left: 5px; padding-left: 5px; line-height: 1;}
.copyright li:first-child { margin-left:0; padding:0; border: none; }

#jac { position: absolute; right:0; top:50%; margin-top: -12px;  width: 186px; padding: 24px 0 0; background: url(../images/jac-we-create.png) 0 bottom no-repeat; }
#jac:hover { background-position: 0 0; }
.retina #jac { background-image: url(../images/jac-we-create@2x.png); background-size: 186px 48px; }