/* form stuff */
.single-form { position: relative; padding-right: 30px; background: #fff; max-width: 100%; border: 1px solid #e7e7e7; overflow: hidden;}
.single-form input { border: none; background: transparent; width: 100%; padding: 8px; position: relative; z-index: 4;}
.single-form button { position: absolute; right:4px; top:50%; margin-top: -12px; opacity:0.5; filter: alpha(opacity=50);  width: 30px; text-indent: -999px; border: none; background-color: transparent; z-index: 5;}
.single-form button:after { position: absolute; content:""; top:50%; left:0; right:0; margin: 0 auto; display: block;}
.single-form button:hover { opacity:0.7; filter: alpha(opacity=70); }

.body-form input[type=text],
.body-form input[type=email],
.body-form input[type=password],
.body-form input[type=tel],
.body-form textarea { font-size: 14px; color: #000; padding: 10px; width: 100%; display: block; margin: 0 0 5px; border: 1px solid #dadada; font-family: arial,helvetica,sans-serif;
	@include placeholder {
		color: #000;
	}
}
.body-form textarea { height:120px; }