/* gmap */
.gmap { height:340px; overflow: hidden; position: relative; background: $buttonColor; margin: 20px 0;}
.gmap img { max-width: inherit; }
.gmap>div { position: absolute; top:0; left:0; right:0; bottom:0; opacity:0; filter: alpha(opacity=0);
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}
.gmap>div.loaded { opacity: 1; filter: alpha(opacity=100); }