.sw:after,
.cf:after { content: " "; display: block; height: 0; line-height:0;clear: both; visibility: hidden; overflow: hidden; }

/* http://www.jasonbuckboyer.com/playground/best-css-grid/example.html */
.grid { margin-left:-20px; word-wrap:break-word; }
.grid.pad5 { margin-left: -5px; }
.grid.pad10 { margin-left: -10px; }
.grid.pad40 { margin-left: -40px; }
.grid.pad60 { margin-left: -60px; }
.grid ~ .grid { margin-top:20px; }
.grid.pad5 ~ .grid.pad5 { margin-top:5px; }
.grid.pad10 ~ .grid.pad10 { margin-top:10px; }
.grid.pad40 ~ .grid.pad40 { margin-top:40px; }
.grid.pad60 ~ .grid.pad60 { margin-top:60px; }
.grid:after { clear:both; content:''; display:table; }
/*
.grid.pad5:after { height: 5px;}
.grid.pad10:after { height: 10px;}
.grid.pad40:after { height: 40px;}
.grid.pad60:after { height: 60px;}
*/
.grid > div { float:left; min-height:1px; padding-left:20px; }
.grid.center>div { display: inline-block; float: none; vertical-align: top; margin-right: -0.5em; text-align: left;}
.grid.center.vcenter>div { vertical-align: middle; }
.grid.pad5 > div { padding-left: 5px; }
.grid.pad10 > div { padding-left: 10px; }
.grid.pad40 > div { padding-left: 40px; }
.grid.pad60 > div { padding-left: 60px; }
.grid.padded { margin-left:0; padding: 20px;}
.grid.padded > :first-child { padding-left:0; }
.grid.no-gutters { margin-left:0; }
.grid.no-gutters > div { padding-left:0; }
.grid.padded.no-gutters { padding-left:20px; }
.col-16 { width:16.666%; }
.col-20 { width:20%; }
.col-25 { width:25%; }
.col-30 { width:30%; }
.col-35 { width:35%; }
.col-33 { width:33.333%; }
.col-40 { width:40%; }
.col-45 { width:45%; }
.col-50 { width:50%; }
.col-55 { width:55%; }
.col-60 { width:60%; }
.col-65 { width:65%; }
.col-66 { width:66.666%; }
.col-70 { width:70%; }
.col-75 { width:75%; }
.col-80 { width:80%; }
.col-83 { width:83.333%; }
.col-100 { width:100%; }
.grid > .col-right { float:right; }
.grid > .col-right + div + .col-right { clear:right; padding-top:20px; }
.grid > :first-child + .col-right + div { clear:left; padding-top:20px; }
.grid img { max-width: 100%; }

#wrapper { width: 100%; margin: 0 auto; overflow: hidden; position: static;}
.sw { width: 1020px; margin: 0 auto; max-width: 100%; position: relative; padding: 0 10px;}
.ie8 body { min-width: 1020px; }

/* UPDATES TO EQUAL HEIGHT GRID */
/* keep an eye on this sucker -  https://code.google.com/p/chromium/issues/detail?id=292883 */
.calculating>.firefox-rel { height: auto !important; }
.grid-eqh-full-wrap { overflow: hidden; }
.grid-eqh-wrap { overflow: hidden; padding:0 1px; margin: -20px;}
.grid-eqh-wrap.no-gutters { margin:0; }
.grid-eqh-wrap.no-gutters .grid-eqh { border-spacing:0;}
.grid-eqh-wrap.pad5 { margin: -5px;}
.grid-eqh-wrap.pad5 .grid-eqh { border-spacing: 5px; margin: 0 0 5px; }
.grid-eqh-wrap.pad10 { margin: -10px;}
.grid-eqh-wrap.pad10 .grid-eqh { border-spacing: 10px; margin: 0 0 10px; }
.grid-eqh-wrap.pad40 { margin: -40px;}
.grid-eqh-wrap.pad40 .grid-eqh { border-spacing: 40px; margin: 0 0 40px; }
.grid-eqh .firefox-rel { position: relative; }
.grid-eqh { display: table; width: 100%; border-collapse: separate; border-spacing: 20px; table-layout: fixed; margin: 0 0 20px;}
.grid-eqh-wrap.no-gutters .grid-eqh { margin:0;}
.grid-eqh>div { display: table-cell; position: relative; vertical-align: top; }