header { padding: 40px 0 125px;}
.logo { width: 273px; padding: 97px 0 0; background: url(../images/iga-logo.png) center center no-repeat; }
.retina .logo { background-size: contain; background-image: url(../images/iga-logo@2x.png); }

.logo.sm { width: 114px; padding: 40px 0 0; background-image: url(../images/iga-small-logo.png); }
.retina .logo.sm { background-image: url(../images/iga-small-logo@2x.png); }