/* headings */
h1,h2,h3,h4,h5,h6 { line-height: 1.2; font-weight: normal; margin: 5px 0; }

.title,
.section-title { display: block; margin: 0 0 20px; }

.subtitle { display: block; }

.hgroup { margin: 10px 0 26px; }
.hgroup h1,
.hgroup h2,
.hgroup h3,
.hgroup h4,
.hgroup h5,
.hgroup h6,
.hgroup span { margin:0; line-height: 1;}

.hgroup .h1-style,
.hgroup h1 { }
.hgroup .subtitle { font-size: 16px; margin-top:8px; display: block; font-family: $boldFontStack; color: #7d7d7d;}

.h1-style,
.h2-style,
.h3-style,
.h4-style,
.h5-style,
.h6-style { display: block; }

.h1-style,
.page-title,
h1 { font-size: 32px; color: $darkBlue; }
.h2-style,
h2 { font-size: 28px; color: $darkBlue; }
.h3-style,
h3 { font-size: 22px; color: $darkBlue; }
.h4-style,
h4 { font-size: 18px; color: $darkBlue; }
.h5-style,
h5 { font-size: 14px; color: $darkBlue; }
.h6-style,
h6 { }

footer .h2-style,
footer h2,
.with-flowing-bg .h2-style,
.with-flowing-bg h2 { color: #fff; }

.article-title { text-transform: uppercase; font-size: 32px; }
.article-subtitle { text-transform: uppercase; font-family: $lightFontStack; font-size: 22px; }

.hgroup+time { margin: -20px 0 20px; display: block; text-transform: uppercase; font-family: $boldFontStack; font-size: 14px; }