.hero { position: relative; padding-bottom: 6px;  }
.hero img { display: block; }
.hero .swiper-wrapper { width: 68%; border-right: 6px solid #fff; }
.hero .swiper-wrapper .content { position: absolute; bottom: 80px; left:0; right:130px; padding: 15px; 
	@include property-with-rgba( background, #fff, 0.85 );
}

.hero .swiper-wrapper .content .read { position: absolute; right:-130px; top:0; bottom:0; width: 130px; color: #fff; text-transform: uppercase; text-align: center;
	@include property-with-rgba( background, $darkBlue, 0.85 );
	@include transition( background 0.25s ease-in-out );
}

.hero .swiper-wrapper .content .read:hover {
	background: $mediumBlue;
}

.hero .swiper-wrapper .content .read:before { height: 100%; content:""; display: inline-block; vertical-align: middle; }

.hero .swiper-wrapper .slider-controls { position: absolute; left: 140px; right: 140px; bottom: 30px; height: 14px; overflow: hidden;}
.hero .swiper-wrapper .slider-controls>div { display: table; width: 100%; border-spacing: 6px; border-collapse: separate; }
.hero .swiper-wrapper .slider-controls a { display: table-cell; overflow: hidden; text-indent: -999em; background: #fff; cursor: pointer;
	@include transition( background 0.25s ease-in-out );
}
.hero .swiper-wrapper .slider-controls a:hover,
.hero .swiper-wrapper .slider-controls a.selected { background: $darkBlue; }

.hero .module { height: 50%; width: 32%; position: absolute; overflow: hidden; right:0; background-position: -9999px -9999px; background-repeat: no-repeat;}
.hero .module .content { position: absolute; bottom:3px; left: 3px; right: 3px; color: #fff; text-align: center; padding: 20px 8px; 
	@include property-with-rgba( background, $mediumBlue, 0.85 );
}
.hero .module .content p { margin-bottom: 10px; }
.hero .module.top { top: 0; border-bottom: 6px solid #fff; }
.hero .module.bottom { bottom:0; }