@import "gmap";
@import "article";
@import "forms";
@import "accordion";
@import "dateinput";
@import "responsive_video";
@import "custom_dropdown";
@import "hero";

@import "site_modules/interactive_timeline";
@import "site_modules/filter_area";

.social { text-align: center; cursor: default;}
.social .sprite { display: inline-block; margin: 0 3px; }
@each $ico in fb,tw,yt,in,pinterest,instagram,flickr,gplus {

	.social-circles .sprite.#{$ico} {
		@extend .sprite.#{$ico}-circle;
	}
	
	.social-circles .sprite.#{$ico}:hover {
		@extend .sprite.#{$ico}-circle-hover;
	}
	
	.social-blue .sprite.#{$ico}:hover,
	.social-white .sprite.#{$ico} {
		@extend .sprite.#{$ico}-white;
	}
	
	.social-blue .sprite.#{$ico},
	.social-white .sprite.#{$ico}:hover {
		@extend .sprite.#{$ico}-white-hover;
	}
}

.vcenter:before { display: inline-block; height: 100%; content:""; vertical-align: middle; margin-right: -0.5em;}
.vcenter>.ib,
.vcenter>span { display: inline-block; vertical-align: middle; }


section { padding: 30px 20px; margin-bottom: 6px; }
.dblue-bg { background-color: $darkBlue !important; color: #fff; }
.with-flowing-bg { background: url(../images/flowing-bg.png) 0 0 no-repeat;
	@extend .dblue-bg;
}

img.lazy { opacity:0;
	@include transition( opacity 0.3s ease-in-out 0.3s ); 
}
img.lazy-loaded { opacity:1; }

time.light { color: $darkBlue; font-size: 17px; }
time.light span { font-size: 36px; font-family: $lightFontStack; }

time.blocks { width: 90px; background: $darkBlue; color: #fff; position: relative; font-family: $lightFontStack; text-align: center; padding-left: 45px; text-transform: uppercase; line-height: 1; display: block;} 
time.blocks .day { position: absolute; left:0; top:0; bottom:0; font-size: 30px; background: $darkBlue; border-right: 1px solid $highlightBlue;}
time.blocks.dual-colored { background: $mediumBlue; }
time.blocks.dual-colored .day { border-width:0;}
time.blocks>span { width: 45px; padding: 6px; text-align: center;}
time.blocks span { display: block; }
time.blocks span.month { font-size: 18px; }
time.blocks span.year { font-size: 13px; }
time.blocks.white,
time.blocks.white .day { background: #fff; color: $darkBlue; }
time.blocks.white .day { border-right: 1px solid $darkBlue; }

a.link:before,
a.download:before { margin-right: 3px; }

/* who-we-are */
.who-we-are { padding-right: 400px; position: relative;}
.who-we-are>a { position: absolute; right:0; top:0; bottom:0; width: 175px; color: #fff; text-align: center; border-left: 1px solid #0e3347;
	@include transition( background 0.25s ease-in-out );
}
.who-we-are>a+a { right: 175px; }
.who-we-are>a:hover {
	@include property-with-rgba( background, $mediumBlue, 0.85 );
}

.who-we-are .sprite-before:before { display: block; margin: 0 auto 8px;}

/* how-we-can-ehlp */
.how-can-we-help>div { display: table; width: 100%; }
.how-can-we-help>div>div { display: table-cell; vertical-align: middle; }
.how-can-we-help>div>div:first-child { width: 380px; padding-right: 50px; }
.how-can-we-help form { position: relative; border-radius: 8px; overflow: visible; display: inline-block; width: 100%; padding-right: 60px; }
.how-can-we-help form:after { content:""; position: absolute; top: 6px; bottom: 6px; right: 50px; border-left: 1px solid #ccc;}
.how-can-we-help form .num { display: block; position: absolute; top: 50%; line-height: 32px; height: 40px; border-radius: 40px; width: 40px; margin-top: -20px; left: -20px; background: $darkBlue; border: 4px solid #fff; color: #fff; text-align: center; font-family: $boldFontStack; font-size: 16px; }
.how-can-we-help form input { padding: 18px; }
.how-can-we-help form button { right: 15px; }

/* dates */
.dates p { margin-bottom: 10px; }
.dates .grid-eqh>div { background: #fff; border-radius: 8px; position: relative;}
.dates .grid-eqh>div>div {  padding: 20px 20px 60px; }
.dates .grid-eqh p { color: $bodyContentColor; }
.dates .grid-eqh time { font-size: 30px; }
.dates .grid-eqh  time span { font-size: 72px; }
.dates .grid-eqh a { position: absolute; bottom: 20px; right:20px; }

/* the-latest */
.the-latest { }
.the-latest article { overflow: hidden; padding: 0 1px 1px 0;}
.the-latest .article-body { overflow: auto; }

.the-latest-content { overflow: hidden; }
.the-latest-side-slider { float: left; width: 310px; border-right: 20px solid #fff; }
.the-latest-filters .selector { text-align: left; vertical-align: top; }
.the-latest-side-slider { padding-top: 5px; }
.the-latest-side-slider .swipe { margin-bottom: 10px; }
.the-latest-side-slider .links { top: auto; top:100%; margin-top: 10px; left:0; width: 68px; text-align: center;}
.the-latest-side-slider .links:after { content:""; left: 50%; border-right: 1px solid #ccc; margin-left: -1px; top: 4px; bottom: 8px; position: absolute; }
.the-latest-side-slider .links a { opacity: 0.2; filter: alpha(opacity=40); position: static; margin: 0 4px;
	@include transition( opacity 0.2s ease-in-out );
}
.the-latest-side-slider .links a:hover { opacity: 0.5; filter: alpha(opacity=50); }
.the-latest-side-slider .links a.previous { @extend .arrow-left; }
.the-latest-side-slider .links a.next { @extend .arrow-right; }
.the-latest-side-slider li { padding: 10px 10px 10px 90px; background: #ececec; border-bottom: 1px solid #ccc; position: relative; font-size: 14px; cursor: pointer;
	@include transition( background 0.3s ease-in-out );
}
.the-latest-side-slider li.selected,
.the-latest-side-slider li:hover { background: #fff; }
.the-latest-side-slider time { position: absolute; top: 10px; left: 10px; }
.the-latest-article { overflow: auto; }
.the-latest-article img { max-width: 40%; }

/* overview-blocks */
.overview-block { position: relative; margin: 0 0 6px; overflow: hidden;}
.overview-block.with-grad:after { position: absolute; z-index: 2; content:""; top:0; left:0; width: 100%; height: 100%; 
	@include linear-gradient(to right, rgba($darkBlue,0.0) 0%, $darkBlue 40%);
}
.no-cssgradients .overview-block.with-grad { background: url(../images/ov-bg.png) 0 center repeat-y; }
.overview-block h2,
.overview-block .subtitle { color: #fff; }
.overview-block .img { position: absolute; top:0; left:0; bottom:0; width: 40%; z-index: 1; background-color: #000; background-repeat: no-repeat; background-size: cover; background-position: center;}
.overview-block .img .map { width: 100%; height: 100%; }
.overview-block .img img.lazy { display: none; }
.no-backgroundsize .overview-block .img img.lazy { display: block; max-width: none; min-width: 40%; min-height: 100%;}
.overview-block .content { position: relative; z-index: 3; margin-left: 40%; padding: 30px; 
	@extend .dblue-bg;
}
.overview-block p { margin: 0 0 10px; }
.overview-block time { position: absolute; left:0; right:15%; margin: 0 auto; top:0; z-index: 4; }
.overview-block.with-time .content { padding-top: 50px; }

/* related-links */
.related-links a { display: block; text-align: center; margin: 0 0 1px; padding: 11px 5px; color: #fff; text-transform: uppercase; background: $darkBlue;
	@include transition( background 0.25s ease-in-out );
}
.related-links a.selected,
.related-links a:hover { background: $mediumBlue; }
.related-links .next,
.related-links .prev { float: left; width: 50%; }
.related-links .prev { border-right: 1px solid #fff; }

/* featured story */
.featured-story { position: relative; overflow: hidden; margin: 0 0 20px;}
.featured-story time { position: absolute; left:0; right:0; margin: 0 auto; top:0; z-index: 3;}
.featured-story .img { position: absolute; top:0; left:0; width: 50%; bottom:0; background-color: #000; background-size: cover; background-position: center center; background-repeat: no-repeat;}
.featured-story .img img { display: none;}
.no-backgroundsize .featured-story .img img { max-width: none; min-height: 100%; display: block; }
.featured-story .content { margin-left: 50%; padding: 50px 25px 75px; background: $darkBlue; color: #fff; position: relative;}
.featured-story .content .button { position: absolute; bottom: 25px; left: 25px; }
.featured-story .content .button.sprite { left: auto; right: 25px; }
.featured-story h2 { color: #fff; }

/* story-grid */
.news-stories-grid time { position: absolute; top:0; left:0; right:0; margin: 0 auto; }
.news-stories-grid .grid-eqh>div { border: 1px solid #ccc; position: relative;}
.news-stories-grid .content { padding: 15px 15px 70px; }
.news-stories-grid .img { margin: -15px -15px 10px; }
.news-stories-grid .img img { margin: 0 auto; display: block;}
.news-stories-grid .button { position: absolute; bottom: 15px; left: 15px; }
.news-stories-grid .button.sprite { left: auto; right: 15px; }

/* event-meta-bar */
.event-meta-bar { margin: 0 0 15px; }
.event-meta-bar time { display: inline-block; vertical-align: middle;}
.event-meta-bar .sprite-before { padding: 6px 12px; display: inline-block; vertical-align: middle; border-left: 2px solid #fff; }
.event-meta-bar .sprite-before:before { margin-right: 4px; }

/* contact-page */
.contact-page { padding: 0 0 40px; }
.contact-page .body-form .row { position: relative; padding-left: 170px; background: $darkBlue; margin: 0 0 10px; border: 1px solid #ccc; display: block; }
.contact-page .body-form .row .field { margin:0; border: none; }
.contact-page .body-form .row .field:focus+span { background: $mediumBlue; }
.contact-page .body-form textarea { height: 175px; }
.contact-page .body-form .row span { position: absolute; width: 170px; top:0; bottom:0; left:0; text-align: center; padding: 8px; color: #fff; text-transform: uppercase; }
.contact-page .body-form .button { width: 170px; }
.contact-info { display: inline-block; padding: 0 60px; text-align: center; }
.contact-info .social { width: 200px; margin: 15px auto 0; }

/* map */
.map-wrap { position: relative; width: 100%; height: 0; overflow: hidden; padding: 56.25% 0 0; margin-bottom: 20px; }
.map-wrap .map { position: absolute; top: 0; left:0; width: 100%; height: 100%; }