/* colors */
$navColor: transparent;

/* nav styles here */
#nav { position: absolute; left: 0; right:0; margin: 0 auto; width: 1020px; z-index: 10; max-width: 100%; padding: 0 10px;}
#mobile-nav { position: absolute; display: none; top: 10px; left: 10px; }

nav { height: 100px; position: absolute; left:10px; right:10px; top: 156px;}
nav>div { position: absolute; height: 100%; left:0; top:0; }
nav>div:first-child { width: 68%; border-right: 6px solid #fff; padding-right: 150px; }
nav>div>ul { display: table; background: $darkBlue; height:100%;width: 100%; table-layout: fixed; }
nav>div>ul>li { display: table-cell; vertical-align: middle; height: 100%;}
nav>div>ul>li>a { color: #fff; display: block; text-align: center; text-transform: uppercase; height: 100%; font-size: 14px; }
nav>a:before,
nav>div>ul>li>a:before { content:""; display: inline-block; vertical-align: middle; height: 100%; }
nav>div>ul>li:hover>a { background: $mediumBlue;}
nav a { color: #fff; }
nav>div+div { left: 68%; right: 56px; }

/* projects */
nav>a { left: 68%; margin-left: -156px; top: -36px; bottom:0; display: block; background: $mediumBlue; width: 150px; text-align: center; position: absolute; font-size: 24px; text-transform: uppercase; }
nav>a:hover { background: $darkBlue; }
nav>a>span { display: inline-block; vertical-align: middle; }
nav>a>span:before { position: absolute; top: 0; left:-60px; width:0; height:0; border: solid transparent; border-width: 36px 30px; border-right-color: $shadowBlue; content:""; z-index: -1;}
nav>a>span:after { position: absolute; top:0; bottom:0; left: 0; width: 6px; content:""; background: $shadowBlue; }
nav>a .num { display: block; font-size: 36px; }

nav div div { position: absolute; top: 100%; left:0; right:0; background: $mediumBlue url(../images/flowing-bg.png) 0 0 no-repeat; display: none; padding: 20px; min-height: 220px; box-shadow: 0 4px 4px -4px rgba(0,0,0,0.8); }
nav div div img { position: absolute; display: block; border: 3px solid $darkBlue; top: 10px; right: 15px; }
nav div div ul { width: 350px; overflow: hidden; }
nav div div ul li { float: left; width: 50%; }
nav div div ul li a { display: block; padding: 3px 6px; margin-right: 5px; }
nav div div ul li a:hover { background: $darkBlue; }

nav>div+div div { min-height: 0; }
nav>div+div div ul { width: auto; }
nav>div+div div ul li { float: none; display: block; width: 100%; }

nav li:hover>div { display: block; }


.meta-nav { position: absolute; left: 68%; right:5px; top:117px;  margin-left: -7px;}
.meta-nav>div:first-child { display: table; width: 100%; }
.meta-nav>div:first-child>a { display: table-cell; padding: 7px 4px; background: $mediumBlue; color: #fff; text-transform: uppercase; font-size: 12px; text-align: center; border: 4px solid #fff; cursor: pointer;}
.meta-nav>div:first-child>a:hover { background: $darkBlue; }

.meta-nav.show-acc #acc-item { background: $darkBlue; }

.acc-dd { position: absolute; top: 100%; left:4px; right:0;margin-top: -4px; 
	@include transform-origin(0 0);
	@include transform( scale(1,0) );
	@include transition( transform 0.25s ease-in-out );
}
.show-acc .acc-dd {
	@include transform( scale(1,1) );
}
.no-csstransforms .acc-dd { display: none; }
.no-csstransforms .show-acc .acc-dd { display: block; }

.acc-dd>div { display: inline-block; box-shadow: 1px 1px 3px rgba(0,0,0,0.4); }
.acc-dd a { display: block; padding: 10px 16px; background: $darkBlue; color: #fff; font-size: 12px; text-transform: uppercase; }
.acc-dd a:before { margin-right: 5px; }
.acc-dd a:hover { background: $mediumBlue; }

#nav .social-circles { position: absolute; top: 30px; right: 10px; }
#nav .search-form { position: absolute; top: 256px; background: $mediumBlue; left:10px; right:10px; padding: 25px; overflow: hidden;
	@include transform-origin(0 0);
	@include transform( scale(1,0) );
	@include transition( transform 0.25s ease-in-out );
}

.show-search #nav .search-form { @include transform( scale(1,1) ); }

#nav .search-form button { visibility: hidden; display: none;}
#nav .search-form input { background-color: transparent; width: 100%; border: none; color: #fff; font-family: $italicFontStack; font-size: 18px; outline: none;
	@include placeholder {
		font-family: $italicFontStack;
		color: #fff;
	}
}

#nav button.toggle-search { position: absolute; right:0; width: 50px; top:0; bottom:0; background: $darkBlue; height: 100% !important; }
.show-search #nav button.toggle-search,
#nav button.toggle-search:hover { background: $mediumBlue;}

.no-csstransforms #nav .search-form { display: none; }
.no-csstransforms.show-search #nav .search-form { display: block; }