.projects-map-wrap { position: fixed; top:0; left:0; right:0; bottom:0; width: 100%; height: 100%; background: $darkBlue;}
.projects-map-loaded body { background: #13425c; }
.projects-map-wrap .gmap { position: absolute; top:60px; left:0; right:0; bottom:0; height: auto; margin:0;}
.projects-map-wrap .map { opacity: 0 !important; }
.projects-map-loaded .projects-map-wrap .map { opacity: 1 !important; }

.is-overlay .projects-map-wrap { z-index: -1; visibility: hidden; opacity:0;
	@include transition( all 0.5s ease-in-out );
	@include transform( translate3d(0,150px,0) );
}

.is-overlay.show .projects-map-wrap {  z-index: 9999999; opacity: 1; visibility: visible;
	@include transform( none );
}

/* .map-head .selector { position: absolute; top: 50%; left:0; margin-top: -17px; } */

.map-head form { width: 300px; }
.map-head form,
.map-head .button,
.map-head .selector { margin-bottom:0; vertical-align: middle; display: inline-block;}
.map-head .selector { border-color: $mediumBlue; }

.no-opacity .projects-map-wrap .map { visibility: hidden; }
.no-opacity.projects-map-loaded .map-wrap .map { visibility: visible; }

.map-head { position: absolute; top: 0; left:0; right:0; height: 60px;}
.map-head .sw { padding: 10px; height: 100%; }
.map-head .map-close { position: absolute; top:50%; right:4px; color: #fff; margin-top: -12px; cursor: pointer; visibility: hidden;}
.map-head .map-close:after { margin-left: 4px; }
.is-overlay .projects-map-wrap .map-close { visibility: visible; }


.map-marker { background: $mediumBlue; border: 2px solid #fff; border-radius: 50%; box-shadow: 0 0 2px rgba(0,0,0,0.4); width: 24px; height: 24px; position: absolute; display: inline-block; cursor: pointer; color: #fff; text-align: center; line-height: 1;font-family: $boldFontStack; font-size: 14px; }
.map-marker.medium { width: 30px; height: 30px; line-height: 22px;}
.map-marker.large { width: 38px; height: 38px; line-height: 28px;}
.map-marker.vlarge { width: 44px; height: 44px; line-height: 32px; }
.map-marker span { position: absolute; top: 50%; left:0; right:0; margin-top: -9px; line-height: 1.2;}

.custom-info-window-content span { color: #fff; line-height: 1.2;}
.custom-info-window-content span.h2-style { padding-right: 30px; font-size: 24px; }
.custom-info-window-content span.h4-style { font-size: 14px; }
.custom-info-window-content select { padding: 8px; margin: 10px 0; width: 100%;}
.custom-info-window-content .sprite { position: absolute; right: 10px; top: 10px; outline: none;}
.custom-info-window-content .sprite.map-menu { right: 40px; display: none;}
.custom-info-window-content .has-selector .sprite.map-menu { display: block; }
.custom-info-window-content .has-selector span.h2-style { padding-right: 50px; }
.custom-info-window-content p { font-size: 14px !important; margin: 10px 0; }

.custom-info-window { }
.custom-info-window { position: absolute; left:0; right:0; display: inline-block; z-index: 10; color: #fff; width: 380px; max-width: 85%; visibility: hidden;}
.custom-info-window.visible {  visibility: visible; }

.custom-info-window-content { background: $mediumBlue; padding: 10px 20px;}

.custom-info-window .pointer { position: absolute; left: 0; right: 0; display: block; width: 0; height: 0; line-height: 0; content:""; overflow: hidden; border: 15px solid transparent; }

.custom-info-window.above .pointer,
.custom-info-window.below .pointer { border-width: 30px 15px;}

.custom-info-window.above { margin-top: -30px; }
.custom-info-window.below { margin-top: 15px;}

.custom-info-window.left { margin-left: -30px; }
.custom-info-window.right { margin-left: 30px; }

.custom-info-window.left .pointer,
.custom-info-window.right .pointer { border-width: 15px 30px; top: 50%; margin-top: -15px; left: auto; right: auto;}

.custom-info-window.above .pointer { border-top-color: $mediumBlue; bottom: -59px; }
.custom-info-window.below .pointer { border-bottom-color: $mediumBlue; top: -59px; }
.custom-info-window.left .pointer { border-left-color: $mediumBlue; right: -60px; }
.custom-info-window.right .pointer { border-right-color: $mediumBlue; left: -60px;}

/* responsive */
@media screen and (max-width: 750px) {
	.projects-map-wrap .map-head form,
	.projects-map-wrap .map-head .button { display: none; }
	
	.custom-info-window,
	.custom-info-window-parent,
	.projects-map-wrap .map .fullsize { width: 100% !important; height: 100% !important; }
	
	.custom-info-window { top: 0 !important;left: 0 !important;margin: 0 !important; max-width: none; background: $mediumBlue; overflow-x: hidden; overflow-y: auto; -webkit-overflow-scrolling: touch;}
}

@media screen and (max-height: 600px) {
	.map-head .selector { display: none; }
	.projects-map-wrap .gmap { top:0; }
	.map-head .map-close { background: $darkBlue; padding: 5px; }
	.no-csstransforms .projects-map-wrap .map-header { display: none; }
	.projects-map-wrap .map-head { height:0; }
	.is-overlay .projects-map-wrap .map-head,
	.is-overlay .projects-map-wrap .map-head .sw { position: static; height: 0; }
	.is-overlay .projects-map-wrap .map-head .map-close { z-index: 99; top:auto; bottom:0; margin:0; right:0; }
}