#nav-is-responsive { position: absolute; top:-999px; left: -999px; width:0; height:0; display: none;}

/* responsive grid */
@each $size in 900,850,800,750,700,650,599,500,450 {

	@media screen and (max-width: #{$size}px) {
		.grid.collapse-#{$size} .featured-img { text-align: left; }
		.grid.collapse-#{$size}.with-margin+.grid.collapse-#{$size}.with-margin { margin-top:0; }
		.grid.collapse-#{$size} { margin-left:0 !important;}
		.grid.collapse-#{$size}>div { float: none; width: 100%; padding-left:0 !important; clear: both; }	
		.grid.collapse-#{$size}.with-margin>div { margin: 0 0 20px; }
		.grid.collapse-#{$size}.with-margin.pad10>div { margin: 0 0 10px; }
		.grid.collapse-#{$size}.with-margin.pad40>div { margin: 0 0 40px; }
		.grid.collapse-#{$size}.center>div { margin-right:0; }
		.no-#{$size} { display: none !important; }
		
		.grid-eqh-full-wrap.collapse-#{$size},
		.grid-eqh-full-wrap.collapse-#{$size}>.grid-eqh-wrap,
		.grid-eqh-wrap.collapse-#{$size} { padding:0; margin:0; overflow: auto;}
		
		.grid-eqh-full-wrap.collapse-#{$size}>.grid-eqh-wrap>.grid-eqh,
		.grid-eqh-wrap.collapse-#{$size}>.grid-eqh,
		.grid-eqh-full-wrap.collapse-#{$size}>.grid-eqh-wrap>.grid-eqh>div,
		.grid-eqh-wrap.collapse-#{$size}>.grid-eqh>div { display: block; width: 100%; margin-bottom:0;}
		
		.grid-eqh-full-wrap.collapse-#{$size}>.grid-eqh-wrap>.grid-eqh>div,
		.grid-eqh-wrap.collapse-#{$size}>.grid-eqh>div { margin-bottom: 10px; }
		
		.grid-eqh .firefox-rel { height: auto !important; }
		
		.swiper-wrapper.collapse-#{$size} .links,
		.swiper-wrapper.collapse-#{$size} .slider-controls,
		.swiper-wrapper.collapse-#{$size} .swiper-nav-bar { display: none; }
		.swiper-wrapper.collapse-#{$size}>.swipe>.swipe-wrap { display: block; width: 100% !important; }
		.swiper-wrapper.collapse-#{$size}>.swipe>.swipe-wrap>div{ display: block; width: auto !important; float: none !important; left: 0 !important; padding: 0 !important;
			@include transform(none !important);
		}
		.swiper-wrapper.collapse-#{$size}>.swipe>.swipe-wrap>div.ghost { display: none !important; }
	}
	
}

@media screen and (max-width: 1000px) {
	nav div div { min-height:0; }
	nav div div img { display: none; }
	nav div div ul { width: auto; }
}

@media screen and (max-width: 950px) {
	.meta-nav { left: auto; top: 70px; right: 8px; }
	.meta-nav a { padding: 5px; border-width: 2px;}
	
	.the-latest .article-body { overflow: initial; }
}

/* MAJOR BREAK POINT */
@media screen and (max-width: 900px) {

	/* nav */
	header { padding-bottom: 75px; }
	nav { height: 50px; padding-right: 50px; background: $darkBlue; }
	nav>a { left:  auto;right: 0; bottom: 100%; margin-bottom: 15px; top:  auto; } /* project link */
	nav>a .num { font-size: 24px; display: inline-block; padding: 0 4px; }
	nav>a:before,
	nav>a>span:before,
	nav>a>span:after { display: none; }
	nav>div { padding:0 !important; border-width: 0 !important; position: static; float: left;  }
	nav>div+div { width: 32%;}
	
	#nav .search-form { top: 206px; }

	.hero { overflow: hidden; }
	.hero .swiper-wrapper { width: 100%; padding-bottom: 6px; border: none;}
	.hero .swiper-wrapper .content { bottom: auto; top:0; }
	.hero .swipe-wrap>div>div { height:0; padding: 56.25% 0 0; overflow: hidden;}
	.hero .module,
	.hero .swipe-wrap>div { background-size: cover; background-position: center center; background-repeat: no-repeat; }
	.hero .module img,
	.hero .swipe-wrap img { visibility: hidden; }
	
	.hero .module { position: relative; top: 0; width: 50%; float: left; border: none !important;}
	.hero .module>div { border: solid #fff; border-width:0;}
	.hero .module+.module>div { border-left-width:6px; }

	/* how-we-can-help */
	.how-can-we-help>div,
	.how-can-we-help>div>div { display: block; width: auto !important; padding:0 !important;}
	.how-can-we-help form { margin-top: 20px; }
	
}

@media screen and (max-width: 800px) {
	.copyright { margin: 10px; }
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
	
	/* who-we-are */
	.who-we-are { overflow: hidden; padding: 30px 20px; }
	.who-we-are p { margin: 0 0 10px; }
	.who-we-are>a { position: static; border: none; display: block; width: 50%; float: left; padding: 20px 0;}
	
	/* collapsed sidebar */
	.main-body.with-sidebar { margin-right: 0; float: none; padding: 0 0 20px;}
	.main-body.with-sidebar>div { margin-right:0;}
	.main-body.with-sidebar+.sidebar { float: none; width: auto; padding-right:0;}
	.main-body+.main-body { margin-top: -20px; }
	.sidebar .no-collapse { display: none; }
	
	/* interactive timeline */
	.timeline-row,
	.timeline-block,
	.timeline-block .original,
	.timeline-block .hovered { height: auto; }
	.timeline-block .hovered { position: static; background-size: contain; } /* this will always dictate the height of the timeline block when the row is collapsed */

}

@media screen and (max-width: 750px) {


	/* the-latest */
	.the-latest-filters { width: auto; border: none; text-align: left; }
	.the-latest-filters .selector { max-width: none; }
	.the-latest-side-slider { float: none; width: auto; overflow: hidden; border: none; }
	.the-latest-side-slider .list-wrap { margin: 0 -5px; }
	.the-latest-side-slider ul { display: table; border-spacing: 5px; border-collapse: separate; table-layout: fixed; }
	.the-latest-side-slider li { display: table-cell; width: 33.333333%; padding:10px; border: 1px solid #ccc; }
	.the-latest-side-slider time { position: static; }
	.the-latest-article-slider { padding-top: 20px; }
	
	/* contact-page */
	.contact-info { display: block; padding: 30px 0; }
	.contact-page .body-form .row { padding-left: 100px; }
	.contact-page .body-form .button,
	.contact-page .body-form .row span { width: 100px; }

}

/* collapsed nav */
@media screen and (max-width: 700px) {
	
	.body .extra-margin { margin:0; }
	
	/* collapsed nav */
	header { position: relative; padding: 20px 0 10px; overflow: hidden; }
	header .logo { max-width: 60%; margin: 0 auto; background-size: contain; background-position: center 0; height:0; padding-top: 25% 0 0; }
	body { background: #222; padding:0; overflow: auto; border-top:0;}
	#wrapper { background: #fff; }

	#mobile-nav { display: block;}
	#nav-is-responsive { display: block; }
	
	#nav { width: 240px; margin:0; padding:0; top: 0; bottom: 0; overflow: auto; -webkit-overflow-scrolling: touch;}
	nav { position: static; padding:40px 0 0; height: auto; }
	nav>div,
	nav>div>ul,
	nav>div>ul>li,
	nav>div>ul>li>a { position: static; display: block; width: auto !important; height: auto !important; text-align: left; }
	nav>div>ul>li>a { padding: 12px; font-size: 16px; font-family: $boldFontStack; background: $darkBlue !important;}
	nav>div { float: none !important; }
	nav div div { display: block; position: static; padding:0; border-bottom: 1px solid #fff; }
	nav div div ul li { float: none; width: auto;}
	nav div div ul li a { margin:0; }
	
	/* projects link */
	nav>a { margin:0; display: block; width: 100%; background: $darkBlue; }
	
	.meta-nav>div,
	.meta-nav>div:first-child>a { display: block; border-width:1px 0 0; text-align: left; }
	.meta-nav>div { border-bottom: 1px solid #fff; }
	.meta-nav>div:first-child>a { padding: 8px 12px;}
	
	#acc-dd,
	#acc-item { display: none; }
	
	#nav .social-circles { background: #fff; padding: 10px 0;}
	
	#nav button.toggle-search { display: none; }
	
	#nav .search-form { left: 0; right: 0; padding: 12px 36px 12px 12px; top:0; 
		@include transform( none );
	}
	
	#nav .search-form input { font-size: 13px; 
		@include placeholder {
			font-size: 13px;
		}
	}
	
	#nav .search-form button { visibility: visible; position: absolute; top: 50%; margin-top:  -11px; right: 10px; }
	
	#nav .social-circles,
	nav>a,
	.meta-nav { position: static; }
	
	#wrapper { overflow: hidden; position: relative; z-index: 20; 	
		-webkit-transition: -webkit-transform 0.25s ease-in-out;
		-moz-transition: -moz-transform 0.25s ease-in-out;
		transition: transform 0.25s ease-in-out;
	}
	
	/* fixes jumpiness */
	#wrapper>div {
		@include transform( translateZ(0) ); 
	}
	
	.show-nav #wrapper { position: fixed; left: 0; top:0; box-shadow: 0 -4px 12px rgba(0,0,0,0.8); z-index: 20; overflow: hidden;
		@include transform( translate3d(240px,0,0) );
	}
	
	.android #wrapper,
	.no-csstransforms3d #wrapper { overflow: hidden; position: relative; z-index: 20; left:0;
		@include transition(left 0.25s ease-in-out);
	}
	
	.android .show-nav #wrapper,
	.no-csstransforms3d .show-nav #wrapper { left: 240px; position: fixed;
		@include transform( none );
	}
	
	.csstransforms3d .animating #wrapper { position: fixed !important; }
	
	/* featured-story */
	.featured-story { background: $darkBlue; }
	.featured-story time { border: 1px solid $mediumBlue; position:  relative; top: 0; float:  right; margin: 10px 10px 0 0; }
	.featured-story .img { display: none; background-image: none;}
	.featured-story .content { margin:0; padding-top: 5px;}
	
	/* no accessibility on collapsed nav */
	#acc-item,
	#acc-dd { display: none !important; }
	
}

@media screen and (max-width: 650px) {
	
	/* hero */
	.hero .module { display: none; }
	.hero .swiper-wrapper .slider-controls { display: none; }
	
	/* news stories */
	.filter-area.with-swiper .with-links,
	.filter-area.with-swiper .swiper-wrapper { position: relative; padding-bottom: 40px; }
	
	/* filter area */
	.filter-area.with-form .filter-bar { padding: 55px 5px 5px; }
	.filter-area.with-form .filter-form { position: absolute; top: 5px; height: 40px; left:5px; right: 5px; width: auto; bottom: auto;}
	.filter-area.with-swiper .links { top: auto; bottom: 0; }
	.filter-bar .collapse-labels,
	.filter-bar .collapse-labels .selector { display: block; }
	.filter-bar .collapse-labels .label { display: none; }
	
}

@media screen and (max-width: 599px) {

	.body { padding: 5px; }
	#wrapper>.sw { padding:0; }
	section { padding: 20px 10px; }
	
	/* the-latest */
	.the-latest-filters { display: none; }
	.the-latest-side-slider { display: none; }
	
	/* hero */
	.hero .swipe-wrap>div>div { padding: 75% 0 0; }
	.hero .swiper-wrapper .content { right:0; }
	.hero .swiper-wrapper .content .read { position: static; background: transparent !important; color: $darkBlue !important; }
	
	/* footer */
	.footer-block.links .bottom-block { margin-left: 10px; margin-right: 10px; }
	
	/* overview-blocks */
	.overview-block { padding: 15px; }
	.extra-margin .overview-block { padding:0; }
	.overview-block.with-grad:after { display: none; }
	.overview-block.with-time time { right: 10px; left: auto; top: 10px; }
	.overview-block .img { display: none; }
	.overview-block .content { margin-left:0;}
	
	/* news-stories-grid */
	.news-stories-grid .content { padding: 5px 5px 70px; }
	.news-stories-grid .content .button { bottom: 5px; left: 5px;}
	.news-stories-grid .content .button.share-white { left: auto; right: 5px; }
	.news-stories-grid .img { margin: -5px -5px 10px; }
	.news-stories-grid time { position: relative; margin:0;}
	
}

@media screen and (max-width: 500px) {

	#jac { position: relative; display: inline-block; right:0; margin: 10px 0 0;}
	header .logo { float: right; margin-right: 5px;}
	
	/* hero */
	.hero .swiper-wrapper .content .subtitle { display: none; }
	
	/* who-we-are */
	.who-we-are>a { float: none; width: auto; }
	
	.filter-bar .label { border:0; }
	.filter-bar .selector { display: block; }
	
}