acc-font = 0 0 18px 18px
acc-minus = 0 -18px 18px 18px
acc-plus = 0 -36px 18px 18px
acc-skip = 0 -54px 18px 18px
airplane-ico = 0 -72px 24px 24px
arrow-left-white-sm = 0 -96px 21px 42px
arrow-left-white = 0 -138px 25px 25px
arrow-left = 0 -163px 25px 25px
arrow-right-white-sm = 0 -188px 21px 42px
arrow-right-white = 0 -230px 25px 25px
arrow-right = 0 -255px 25px 25px
close = 0 -280px 16px 16px
download-blue = 0 -296px 40px 40px
download-white = 0 -336px 40px 40px
download = 0 -376px 18px 18px
facts-figures = 0 -394px 77px 70px
fb-circle-hover = 0 -464px 32px 32px
fb-circle = 0 -496px 32px 32px
fb-white-hover = 0 -528px 22px 22px
fb-white = 0 -550px 22px 22px
flickr-circle-hover = 0 -572px 32px 32px
flickr-circle = 0 -604px 32px 32px
flickr-white-hover = 0 -636px 22px 22px
flickr-white = 0 -658px 22px 22px
gplus-circle-hover = 0 -680px 32px 32px
gplus-circle = 0 -712px 32px 32px
gplus-white-hover = 0 -744px 22px 22px
gplus-white = 0 -766px 22px 22px
in-circle-hover = 0 -788px 32px 32px
in-circle = 0 -820px 32px 32px
in-white-hover = 0 -852px 22px 22px
in-white = 0 -874px 22px 22px
instagram-circle-hover = 0 -896px 32px 32px
instagram-circle = 0 -928px 32px 32px
instagram-white-hover = 0 -960px 22px 22px
instagram-white = 0 -982px 22px 22px
link = 0 -1004px 18px 18px
map-close = 0 -1022px 20px 20px
map-menu = 0 -1042px 20px 20px
map = 0 -1062px 32px 32px
menu = 0 -1094px 44px 44px
pinterest-circle-hover = 0 -1138px 32px 32px
pinterest-circle = 0 -1170px 32px 32px
pinterest-white-hover = 0 -1202px 22px 22px
pinterest-white = 0 -1224px 22px 22px
search-ico-dark = 0 -1246px 22px 22px
search-ico = 0 -1268px 22px 22px
selector-arrow-up = 0 -1290px 14px 14px
selector-arrow = 0 -1304px 14px 14px
share-blue = 0 -1318px 32px 32px
share-white = 0 -1350px 32px 32px
time = 0 -1382px 32px 32px
timeline-ellipsis = 0 -1414px 107px 70px
tw-circle-hover = 0 -1484px 32px 32px
tw-circle = 0 -1516px 32px 32px
tw-white-hover = 0 -1548px 22px 22px
tw-white = 0 -1570px 22px 22px
white-file = 0 -1592px 70px 70px
white-pdf = 0 -1662px 70px 70px
yt-circle-hover = 0 -1732px 32px 32px
yt-circle = 0 -1764px 32px 32px
yt-white-hover = 0 -1796px 22px 22px
yt-white = 0 -1818px 22px 22px
sprite($sprite)
    background-image url('../images/sprites.png')
    background-position $sprite[0] $sprite[1]
    width $sprite[2]
    height $sprite[3]
