.filter-area { }

.filter-bar { margin: 10px 0; background: $darkBlue; padding: 5px; color: #fff; position: relative;}
.filter-area.with-form .filter-bar { padding-right: 280px; }
.filter-area.with-form.with-links .filter-bar { padding-right: 342px; }
.filter-bar .label { display: inline-block; padding: 6px 12px; border: solid $shadowBlue; border-width: 0 0 0 1px; background: none; color: #fff; margin-right: -0.25em;}
.filter-bar .label:first-child { border-width:0; }
.filter-bar a.label:hover,
.filter-bar a.label.selected { background: $mediumBlue; }

.filter-bar .collapse-labels .selector { display: none;}

.filter-bar .selector { background: $darkBlue; border: none; margin:0;}
.filter-bar .selector:hover { background: $mediumBlue; }
.filter-bar .filter-form { position: absolute; top:1px; right:1px; bottom:1px; width: 250px; background: $mediumBlue; padding-right: 40px; border: none;}
.filter-bar .filter-form fieldset,
.filter-bar .filter-form input { height: 100%; background: #fff; }
.filter-bar .filter-form button { right: 8px; opacity:1; filter: alpha(opacity=100); }

.filter-content { padding: 10px 0; }

.filter-area p { font-size: 14px; }
.filter-area .grid-eqh>div { position: relative; }

.grid-eqh .dblue-bg h2 { color: #fff; }
.grid-eqh .with-region { padding: 20px 20px 65px; }
.grid-eqh .with-region .button { position: absolute; bottom: 20px; left: 20px; }
.overview-blocks .region-tag,
.grid-eqh .with-region .region-tag { display: inline-block; bottom: 10px; right:0; background: $mediumBlue; position: absolute; padding: 8px; font-size: 12px; }
.overview-blocks .region-tag { bottom:0; }

.grid-eqh .left-meta { padding: 20px 20px 20px 80px; min-height: 150px; }
.grid-eqh .left-meta.sprite-before:before { position: absolute; top:0; left:0; right: auto; z-index: 2; margin:0;}
.grid-eqh .left-meta:after { content:""; z-index: 1; background: $mediumBlue; position: absolute; top:0; left:0; width: 70px; height: 70px; }

.grid-eqh .left-meta .meta-button { position: absolute; top: 90px; left: 15px; background-color: $mediumBlue; }

.filter-area.with-swiper { position: relative; }
.filter-area.with-swiper .swiper-wrapper { position: static; overflow: visible;}

.filter-area.with-swiper.with-form .links { margin-right: 251px; }
.filter-area.with-swiper.with-close .links { margin-right: 31px; }
.filter-area.with-swiper.with-form.with-close .links { margin-right: 282px; }

.filter-area.with-swiper.with-close .close { position: absolute; top: 1px; right: 1px; bottom: 1px; width: 30px; text-indent: -999em; overflow: hidden; background-color: $mediumBlue;}
.filter-area.with-swiper.with-close .close:hover { background-color: $shadowBlue; }
.filter-area.with-swiper.with-close .close:after { top: 50%; margin-top: -8px; }

.filter-area.with-swiper .links { top:1px; left: auto; height: 42px; margin:0; width: 62px; position: absolute; right:0;}
.filter-area.with-swiper .links a { padding:0; height: 100% !important; display: block; float: left; width: 30px; background: $mediumBlue; margin-right: 1px;}
.filter-area.with-swiper .links a:hover { background-color: $shadowBlue; }
.filter-area.with-swiper .links a:after {
	@extend .sprite-after:after;
	@extend .sprite-after.abs:after;
	top: 50%; margin: -21px auto 0;
}
.retina .filter-area.with-swiper .links a:after {
	@extend .retina.sprite-after:after; 
}
.filter-area.with-swiper .links .next:after {
	@extend .sprite-after.arrow-right-white-sm:after;
}

.filter-area.with-swiper .links .previous:after {
	@extend .sprite-after.arrow-left-white-sm:after;
}

.filter-area.with-filter-form .links { }