/* timeline */
$timelineColor: #f6f6f6;

.interactive-timeline { margin-bottom: 20px; }
.interactive-timeline .year,
.interactive-timeline .h2-style,
.interactive-timeline .h4-style { color: $timelineColor; line-height: 1.1; margin-top: 10px;}
.interactive-timeline .year { display: block; font-size: 47px; }
.interactive-timeline p { text-align: left; margin-top: 10px; color: $timelineColor; line-height: 1.2;}

.timeline-block { background: $darkBlue; height: 400px; text-align: center; border: 1px solid #fff; position: relative; overflow: hidden;
	@include transition( width 0.25s ease-in-out 0.25s );
}
.timeline-block:hover { width: 50%; 
	@include transition-delay( 0s );
}

.timeline-block .original,
.timeline-block .hovered { position: absolute; top:0; left:0; right:0; bottom:0; padding: 20px; opacity:2; height:400px;
	@include transform ( none );
}

.timeline-block .original {
	@include transition( all 0.25s ease-in-out 0.5s );
}

.timeline-block:hover .original { opacity:0;
	@include transition-delay( 0s );
	@include transform( translate3d(0, -50px, 0) );
}

/* not perfect, but it helps some of the jitteriness */
.timeline-block:hover~.timeline-block {
	@include transition-delay( 0s !important );
}
.timeline-row:hover .timeline-block:first-child {
	@include transition-delay ( 0s !important );
}




.timeline-block .hovered { background-repeat: no-repeat; background-position: center; background-size: cover; }
.timeline-block .hovered { opacity:0; z-index: 1; 
	@include transition( all 0.25s ease-in-out );
	@include transform-origin( center );
	@include transform( scale(0,0) );
}

.timeline-block:hover .hovered { opacity:1; overflow-x: hidden; overflow-y: auto; 
	@include transition-delay( 0.25s );
	@include transform( scale(1,1) );
}

.no-opacity .timeline-block .original,
.no-opacity .timeline-block:hover .hovered { display: block; }

.no-opacity .timeline-block .hovered,
.no-opacity .timeline-block:hover .original { display: none; }

.firefox .timeline-block .ib { width: 98%; }